* {
  margin: 0;
  padding: 0.01;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(#00cc9c, #ff80d3);
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  margin: 0;
}
header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: rgb(255, 255, 255);
}

form button {
  color: #7d6ed4;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #7d6ed4;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.25rem;
  transition: 0.6s;
}

.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: #7d6ed4;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(147, 229, 130);
}

.todo-item {
  padding: 0rem o.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.65;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #7d6ed4;
  width: 10rem;
  cursor: pointer;
  padding: 1.15rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #7d6ed4;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.4s ease;
}

.select:hover::after {
  background: whitesmoke;
  color: #7d6ed4;
}
